<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{site/dashboardLayout.html}">
    <head>
       
    </head>

    <body layout:fragment="content">
        <div class="container">
            <h2>List Products</h2>
            <div class="rows">
                <div class="col-sm-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
    
                            <div th:each="item : ${cartItem}">
                                <form th:action="@{/home/cartitem/update}" method="post">
                                    <input type="hidden" name="id" th:value="${item.productId}" />
                                <tr>
                                    <td th:text="${item.productId}"></td>
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.unitPrice}"></td>
                                    <td><input name="quantity" th:value="${item.quantity}"
                                        onblur="this.form.submit()" style="width: 50px;"></td>
                                    <td th:text="${item.unitPrice*item.quantity}"></td>
                                    <td><a class="btn btn-primary btn-sm"
                                        th:href="@{'/home/cartitem/del/' + ${item.productId}}">Remove</a></td>
                                </tr>
                                </form>
                            </div>
    
    
                        </tbody>
                    </table>
                    <p>Tong Tien: <span th:text="${TOTAL}"></span></p>
                    <hr />
                    <a class="btn btn-primary btn-sm" th:href="@{/home/cartitem/clear}">Clear
                        Cart</a> <a class="btn btn-primary btn-sm" href="/home">Add
                        more</a>
                </div>
            </div>
    
        </div>
    </body>
</html>